@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100dvw;
  height: 100dvh;
}

body {
  margin: 0;
  /* background-image: linear-gradient(90deg, #0022ff 0%, #4f93ff 100%); */
  background-image: url('/assets/bg_img_2026.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
